:root {
	--font-nav: var(--font-serif);
	--font-mono: monospace;
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif-font {
	font-family: var(--font-serif);
	font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	padding: 0.75rem 0;
	color: var(--color-surface-op);
	word-break: break-words;
}

h1 {
	margin: 0;
	font-size: clamp(1.75rem, 6vw, 5.5rem);
	padding-bottom: 10px;
	text-shadow: 3px 3px 0px var(--color-surface-op),
							 -3px -3px 0px var(--color-surface-op),
							 3px -3px 0px var(--color-surface-op),
							 -3px 3px 0px var(--color-surface-op);
}

h2 {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: bold;
	color: var(--color-text-dark);
}

h3 {
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	margin: 0.5rem 0;
	text-shadow: var(--op-shadow);
}

h4 {
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	margin: 0.25rem 0;
}

h5 {
	font-size: clamp(1.5rem, 2vw, 1.5rem);
	margin: 0.25rem 0;
}

h6 {
	font-size: clamp(1.5rem, 1.5vw, 1rem);
	margin: 0.15rem 0;
}

a {
	color: var(--color-text);
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: var(--color-highligh);
		text-decoration: underline;
	}

	&:visited {
		color: var(--color-text);
	}
}

p, ul, ol {
	line-height: 1.75;
}

p::selection {
	color: var(--color-selected-text);
	background-color: var(--color-selected);
}

strong {
	color: var(--color-text);
	font-weight: bold;
	font-family: var(--font-serif);
	color: var(--color-sub-header);
}

.mono {
	font-family: var(--font-mono);
}