@import url('./typograpy.css');

:root {
	view-transition-name: root;

	/* Primarey Theme Colors */
	--color-surface-light: #5d91fa;
	--color-surface-dark: #0339A6;
	--color-text-light: #070F26 ;
	--color-text-dark: #F2F2F2;
	--color-accent-light: #E00707;
	--color-accent-dark: #E00707;
	--color-success-light: #00C700;
	--color-success-dark: #008B00;
	--color-error-light: #E24000;
	--color-error-dark: #8C2800;
	--color-warning-light: #C4BD00;
	--color-warning-dark: #8A8600;
	--color-toggle-dark: #F2F2F2;
	--color-toggle-light: #070F26;

	--shadow-light: 0px 2px 2px #070F26;
	--shadow-light-footer: 0px 1px 1px #070F26;
	--shadow-dark: 0px 2px 2px #F2F2F2;
	--shadow-dark-footer: 0px 1px 1px #F2F2F2;

	--color-surface: var(--color-surface-dark);
	--color-surface-op: var(--color-surface-light);
	--color-text: var(--color-text-dark);
	--color-text-op: var(--color-text-light);
	--color-accent: var(--color-accent-dark);
	--color-success: var(--color-success-dark);
	--color-error: var(--color-error-dark);
	--color-warning: var(--color-warning-dark);
	--color-toggle: var(--color-toggle-dark);
	--color-selected: var(--color-accent-light);

	--color-red: var(--color-accent-light);
	--color-blue: var(--color-surface-light);
	--color-shadow: var(--color-accent);

	--shadow: var(--shadow-dark);
	--op-shadow: var(--shadow-light);

	--text-toggle: '☀️';
}

[data-theme='light'] {
	--color-surface: var(--color-surface-light);
	--color-surface-op: var(--color-surface-dark);
	--color-text: var(--color-text-light);
	--color-text-op: var(--color-text-dark);
	--color-accent: var(--color-accent-light);
	--color-success: var(--color-success-light);
	--color-error: var(--color-error-light);
	--color-warning: var(--color-warning-light);
	--color-toggle: var(--color-toggle-light);
	--color-selected: var(--color-accent-dark);

	--color-red: var(--color-accent-dark);
	--color-blue: var(--color-surface-dark);
	--color-shadow: var(--color-accent);

	--shadow: var(--shadow-light);
	--op-shadow: var(--shadow-dark);

	--text-toggle: '🌙';
}

[data-theme='dark'] {
	--color-surface: var(--color-surface-dark);
	--color-surface-op: var(--color-surface-light);
	--color-text: var(--color-text-dark);
	--color-text-op: var(--color-text-light);
	--color-accent: var(--color-accent-dark);
	--color-success: var(--color-success-dark);
	--color-error: var(--color-error-dark);
	--color-warning: var(--color-warning-dark);
	--color-toggle: var(--color-toggle-dark);
	--color-selected: var(--color-accent-light);

	--color-red: var(--color-accent-light);
	--color-blue: var(--color-surface-light);
	--color-shadow: var(--color-accent);

	--shadow: var(--shadow-dark);
	--op-shadow: var(--shadow-light);

	--text-toggle: '☀️';
}

@view-transition {
  navigation: auto;
  types: slide, forwards;
}

/* Determine what gets captured when the type is forwards or backwards */
html:active-view-transition-type(forwards, backwards) {
  :root {
    view-transition-name: none;
  }
  article {
    view-transition-name: content;
  }
  .pagination {
    view-transition-name: pagination;
  }
}

/* Animation styles for forwards type only */
html:active-view-transition-type(forwards) {
  &::view-transition-old(content) {
    animation-name: slide-out-to-left;
  }
  &::view-transition-new(content) {
    animation-name: slide-in-from-right;
  }
}

/* Animation styles for backwards type only */
html:active-view-transition-type(backwards) {
  &::view-transition-old(content) {
    animation-name: slide-out-to-right;
  }
  &::view-transition-new(content) {
    animation-name: slide-in-from-left;
  }
}

/* Animation styles for reload type only */
html:active-view-transition-type(reload) {
  &::view-transition-old(root) {
    animation-name: fade-out, scale-down;
  }
  &::view-transition-new(root) {
    animation-delay: 0.25s;
    animation-name: fade-in, scale-up;
  }
}


@keyframes move-out {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes move-in {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
	animation: 0.2s ease-in both move-out;
}

::view-transition-new(root) {
	animation: 0.2s ease-in both move-in;
}

body {
	background: var(--color-surface);
	color: var(--color-text);
}

a {
	color: var(--color-accent);
	text-decoration: none;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

p::selection {
  color: var(--color-selected-text);
  background-color: var(--color-selected);
}

ul {
	list-style: none;
	padding: 0;
}

.side-by-side:has(img) {
	img {
		border: none;
	}
}

.side-by-side > img:first-child {
    /* border-radius: var(--radius-3) 0 0 var(--radius-3); */
}

.side-by-side > img:last-child {
    /* border-radius: 0 var(--radius-3) var(--radius-3) 0; */
}

.logo-span {
	font-size: 2.5rem;
	text-shadow: var(--shadow);
}

footer .logo-span {
	font-size: 1.2rem;
	text-shadow: var(--op-shadow-footer);
}

.red {
	color: var(--color-red);
}

.blue {
	color: var(--color-blue);
}

.bold {
	font-weight: bold;
}

.op-shadow {
	text-shadow: var(--op-shadow);
}